<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Citas</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section id="actions" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">                   
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{citas.agregar}]]</h4>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/citas/guardar}"
                                      method="post"
                                      th:object="${cita}">
                                    <div class="row py-1 mb-2 bg-light">
                                        <div class="form-group">
                                            <input type="hidden" name="idCita" th:field="*{idCita}" />
                                            <label for="mascota">[[#{citas.mascota}]]</label>
                                            <input type="text" name="mascota"  th:field="*{mascota}"/>
                                            <br/>
                                            <label for="veterinaria">[[#{citas.veterinaria}]]</label>
                                            <input type="text" name="veterinaria"  th:field="*{veterinaria}"/>
                                             <br/>
                                            <label for="fecha">[[#{citas.fecha}]]></label> 
                                            <input type="date" name="date" th:field="*{fecha}"/><br>
                                        </div>
                                    </div>
                                    
                                    <div class="row  py-1 mb-2 bg-light">
                                        <button type="submit" class="btn btn-primary btn-block">[[#{accion.agregar}]]</button>                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="layout/plantilla :: footer"></footer>

    </body>
</html>