<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Agendar citas</title>
    </head>
    <body class="bg-CuerpoPagina">
        <header th:replace="layout/plantilla :: header"/>
         <div class="container">
            <h2 th:text="#{evento.titulo}"><i class="fa fa-calendar"></i>Nuestros Articulos</h2>            
            <div class="row row-cols-3" th:if="${eventos != null and !eventos.empty}">
                <div class="card card-eventos" th:each="evento : ${eventos}" >
                    <!--<img src="/images/laptos.jpg" class="card-img-top" alt="equipo">  -->
                        <div class="card-body">
                            <h5 class="card-title">[[${evento.titulo}]]</h5>
                            <p class="card-text">[[${evento.descripcion}]]</p>  
                            <a class="card-link" href="[[#{evento.link}]]">[[${evento.link}]] <i class="fa fa-right"></i></a>
                        </div>
                </div>                
            </div>
            <div th:if="${eventos == null or eventos.empty}" >
                No tenemos lista de articulos que mostrar...
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
