<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Eventos</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido">
            <h2>[[#{categoria.datos}]]</h2>
            <a th:href="@{/evento/listado}">[[#{accion.regresar}]]</a>
            </br>
            </br>
            <form th:action="@{/evento/guardar}"
                  method="POST"
                  th:object="${evento}">
                <input type="hidden" name="idAlbergue" th:field="{idAlbergue}"/>
                <label for="nombre">[[#{evento.nombre}]]</label>
                <input type="text" name="nombre" th:field="{nombre}" />
                <label for="fecha">[[#{evento.fecha}]]</label>
                <input type="text" name="fecha" th:field="{fecha}" />
                </br>
                <label for="hora">[[#{evento.hora}]] </label>
                <input type="text" name="hora" th:field="{hora}"/>
                </br>
                <input type="submit" name="Guardar" value="#{accion.guardar}"/>
            </form>
        </div>
        <footer th:replace ="layout/plantilla :: footer" />
    </body>
</html>
