<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="../../static.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido">
            <h2>[[#{categoria.datos}]]</h2>
            <a th:href="@{/albergue/listado}">[[#{accion.regresar}]]</a>
            </br>
            </br>
            <form th:action="@{/albergue/guardar}"
                  method="POST"
                  th:object="${albergue}">
                <input type="hidden" name="idAlbergue" th:field="{idAlbergue}"/>
                <label for="nombre">[[#{albergue.nombre}]]</label>
                <input type="text" name="nombre" th:field="{nombre}" />
                <label for="descripcion">[[#{albergue.descripcion}]]</label>
                <input type="text" name="descripcion" th:field="{descripcion}" />
                </br>
                <label for="ubicacion">[[#{albergue.ubicacion}]] </label>
                <input type="text" name="ubicacion" th:field="{ubicacion}"/>
                </br>
                <input type="submit" name="Guardar" value="#{accion.guardar}"/>
            </form>
        </div>
        <footer th:replace ="layout/plantilla :: footer" />
    </body>
</html>
